body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 2px solid black;
  }
  .izquierda, .derecha {
    display: flex;
    align-items: center;
  }
  .logo {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
  }
  .icono-carrito {
    font-size: 20px;
    cursor: pointer;
  }
  .nombre-usuario {
    margin-right: 10px;
  }
  .foto-perfil {
    width: 40px;
    height: 40px;
    background-color: #b4e1e9;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .foto-perfil img {
    width: 30px;
    height: 30px;
  }
  .icono-menu {
    font-size: 28px;
    cursor: pointer;
  }